<!DOCTYPE html>
<html lang="ja">
<div class="wrapper">
  <head>
    <meta charset="utf-8">
    <title>MANAGEMENTS_TOOL</title>
    <meta name="description" content="業務管理を行う事ができるツールです">
    <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
    <%# google fontsの読み込み %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap" rel="stylesheet">
    <%# /google fontsの読み込み %>
    <link href="app/assets/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <header class="page-header">
      <h1><%= link_to 'MANEGEMENTS TOOL', root_path, class: "link"%></h1>
      <ul class="main-nav">
      <% if user_signed_in? %>
        <li class = "user-name"><%= current_user.name %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path,  method: :delete,class:"link"%></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path, class:"link"%></li>
        <li><%= link_to 'ログイン', user_session_path, class:"link"%></li>
      <% end %>
      </ul>
    </header>
    </div>
  </body>
</html>
