<!DOCTYPE html>
<html lang="ja">
<div class="wrapper">
  <head>
    <meta charset="utf-8">
    <title>MANAGEMENTS_TOOL</title>
    <meta name="description" content="業務管理を行う事ができるツールです">
    <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
    <%# google fontsの読み込み %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap" rel="stylesheet">
    <%# /google fontsの読み込み %>
    <link href="app/assets/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <% if user_signed_in? %>
      <header class="page-header">
        <h1 class="main-title"><%= link_to 'MANEGEMENTS TOOL', root_path, class: "link"%></h1>
        <ul class="main-nav">
        <% if user_signed_in? %>
          <li class = "user-name"><%= current_user.name %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path,  method: :delete,class:"link"%></li>
        <% else %>
          <li><%= link_to '新規登録', new_user_registration_path, class:"link"%></li>
          <li><%= link_to 'ログイン', user_session_path, class:"link"%></li>
        <% end %>
        </ul>
      </header>
      <div class="top-wrapper">
        <div class="container-main">
          <h2 class="sub-title">REPORT</h2>
          <div class="tasks">
            <div class="task">
              <h1><%= link_to 'OPEN CHECK', new_tool_path, class:"link btn-task"%></h1>
            </div>
            <div class="task">
              <h1><%= link_to 'CLOSE CHECK', new_task_close_path, class:"link btn-task"%></h1>
            </div>
          </div>
        </div>
        <div class="container-sub">
          <h2 class="sub-title">MANAGEMENT</h2>
          <div class="tasks">
            <div class="task">
              <h1><%= link_to 'OPEN CHECK 履歴', tool_path(:id), class:"link btn-sub"%></h1>
            </div>
            <div class="task">
              <h1><%= link_to 'CLOSE CHECK 履歴', new_task_close_path, class:"link btn-sub"%></h1>
            </div>
            <div class="task edit-user">
              <h1><%= link_to 'Edit User', edit_user_path(current_user), class:"link btn-sub"%></h1>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <header class="page-header">
        <h1 class="main-title"><%= link_to 'MANEGEMENTS TOOL', root_path, class: "link"%></h1>
      </header>
      <div class="container-top">
        <div class="task">
          <h1><%= link_to 'SIGN IN', new_user_registration_path, class:"link btn-task"%></h1>
        </div>
        <div class="task">
          <h1><%= link_to 'LOG IN', user_session_path, class:"link btn-task"%></h1>
        </div>
      </div>
    <% end %>
  </body>
</html>
